# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Meal-Planner.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Node
node_modules/
build/

# Python
venv1/
__pycache__/
*.py[cod]

# Rider
.idea/

# Docker
*.env